doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src='https://apis.google.com/js/api.js')
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src='/youtube-custom-feed/parameters.zhykos.js')
    script(src='/javascripts/ycf.js')
  body

    mixin textIcon(text, image, iframe)
      a(href='#' onclick='displayIframeVideoPlayer("' + iframe + '")').text-icon
        figure
          img(src=image, alt=text + ' icon').icon
          figcaption.text=text

    block content
      h1= title
      p Welcome to #{title}
      button(type='button' onclick='authenticate().then(loadClient)') authorize and load
      button(type='button' onclick='execute()') execute
      div#wrapper
        div(display=none)#popup
          div#iframe
          a(href='#' onclick='$("#popup").fadeOut("slow");')#close Close video
      each val in videos
        +textIcon(val.videoTitle, val.videoThumbnailSrc, val.videoId)
      else
        span No video