doctype html
html
  head
    title YouTube Custom Feed
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src='https://apis.google.com/js/api.js')
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src='/javascripts/ycf-client-helpers.js')
    script(src='/javascripts/ycf-client.js')
  body

    mixin displayVideo(text, image, videoId, channelTitle, visible, filter, displayHiddenVideos)
      div.video(id="video_" + videoId)
        if visible && filter == "NONE"
          img(src=image, id="img_" + videoId)
          div(id="title_" + videoId)= text
          div(id="channel_" + videoId)
            i= channelTitle
        else
          img.hiddenImage(src=image, id="img_" + videoId)
          div.hiddenText(id="title_" + videoId)= text
          div.hiddenText(id="channel_" + videoId)= channelTitle
        if filter == "BLACKLIST"
          img(src="images/blacklist.png" title="Video masked because of a blacklist parameter")
        else if filter == "WHITELIST"
          img(src="images/whitelist.png" title="Video masked because of a whitelist parameter")
        img(src="images/play.png" title="Open this video" onclick='displayIframeVideoPlayer("' + videoId + '")')
        img(src="images/play-hide.png" title="Open this video then mask it" onclick='displayIframeVideoPlayerThenMask("' + videoId + '", "' + displayHiddenVideos + '")')
        if visible
          img(src="images/hide.png" title="Hide this video" onclick='swapVisibility("' + videoId + '", "' + displayHiddenVideos + '")', id="swap_" + videoId)
        else
          img(src="images/visible.png" title="Set this video as visible" onclick='swapVisibility("' + videoId + '")', id="swap_" + videoId)
        img(src="images/open-youtube.png" title="Open this video on YouTube" onclick='openOnYoutube("' + videoId + '")')

    mixin displayChannelInSidebar(id, text, image)
      div.channel
        if image
          img(src=image)
        a(href="javascript:;" onclick='displayVideosFromChannel("' + id + '")')= text

    div#loading
      img(src="images/loading.gif" title="Loading...")
    div#contents
      div#sidebar
        div.menu(id="connection")
          a(href="javascript:;" onclick='authenticate().then(loadClient)') Connection
        div.menu(id="fetch")
          a(href="javascript:;" onclick='execute()') Fetch videos
        div.menu
          if displayHiddenVideos == "true"
            a(href="javascript:;" onclick='hideMaskedVideos()') Hide masked videos
          else
            a(href="javascript:;" onclick='displayHiddenVideos()') Display hidden videos
        h2 Channels
        +displayChannelInSidebar("#all", "All channels", null)
        each val in channels
          +displayChannelInSidebar(val.channelId, val.channelTitle, val.channelImage)
        else
          span No channel in database
      div#main
        h1 My YouTube Custom Feed
        if displayHiddenVideos == "true"
          if !channel || channel == "all"
            h2 All videos: no filter
          else
            h2= "All videos from channel " + channelTitle + ": no filter"
        else
          if !channel || channel == "all"
            h2 All videos: filters activated (default display)
          else
            h2= "All videos from channel " + channelTitle + ": filters activated"
        div#wrapper
          br
          div(display=none)#popup
            div#iframe
            a(href='#' onclick='$("#popup").fadeOut("slow")')#close Close video
        br
        each val in videos
          +displayVideo(val.videoTitle, val.videoThumbnailSrc, val.videoId, val.channelTitle, val.visible, val.filter, displayHiddenVideos)
        else
          span No video in database