doctype html
html
  head
    title YouTube Custom Feed
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src='https://apis.google.com/js/api.js')
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src='/javascripts/ycf.js')
  body

    mixin displayVideo(text, image, videoId, channelTitle, visible, filter)
      div
        if visible && filter == "NONE"
          img(src=image, id="img_" + videoId)
          div(id="title_" + videoId)= text
          div(id="channel_" + videoId)= channelTitle
        else
          img.hiddenImage(src=image, id="img_" + videoId)
          div.hiddenText(id="title_" + videoId)= text
          div.hiddenText(id="channel_" + videoId)= channelTitle
        if filter == "BLACKLIST"
          img(src="images/blacklist.png" title="Video masked because of a blacklist parameter")
        else if filter == "WHITELIST"
          img(src="images/whitelist.png" title="Video masked because of a whitelist parameter")
        img(src="images/play.png" title="Open this video" onclick='displayIframeVideoPlayer("' + videoId + '")')
        img(src="images/play-hide.png" title="Open this video then mask it" onclick='displayIframeVideoPlayerThenMask("' + videoId + '")')
        if visible
          img(src="images/hide.png" title="Hide this video" onclick='swapVisibility("' + videoId + '")', id="swap_" + videoId)
        else
          img(src="images/visible.png" title="Set this video as visible" onclick='swapVisibility("' + videoId + '")', id="swap_" + videoId)
        img(src="images/open-youtube.png" title="Open this video on YouTube" onclick='openOnYoutube("' + videoId + '")')

    block content
      h1 My YouTube Custom Feed
      button(type='button' onclick='authenticate().then(loadClient)') authorize and load
      button(type='button' onclick='execute()') execute
      if displayHiddenVideos == "true"
        button(type='button' onclick='hideMaskedVideos()') Hide masked videos
      else
        button(type='button' onclick='displayHiddenVideos()') Display hidden videos
      div#wrapper
        div(display=none)#popup
          div#iframe
          a(href='#' onclick='$("#popup").fadeOut("slow")')#close Close video
      each val in videos
        +displayVideo(val.videoTitle, val.videoThumbnailSrc, val.videoId, val.channelTitle, val.visible, val.filter)
      else
        span No video in database